<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    <title></title>
</head>
<body>
<table>
    <tr>
        <td class="sel" colspan="2" style="text-align: left;">
            Seller:<br>
            <strong th:text="${BookingReceipt.userEmail}">Seller Name</strong><br>
            <strong th:text="${BookingReceipt.userPhone}">Seller Address</strong><br>
        </td>
    </tr>
    
</table>
</body>
</html>